@import "../../assets/scss/core/variable-colors";

.preloader {
  background: $white;

  .loader {
    .loader__figure {
      border-color: $loader;
      animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .loader__label {
      color: $loader;
      animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

@keyframes loader-figure {
  0% {
    background-color: $loader;
  }

  29% {
    background-color: $loader;
  }

  30% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}