.fixed-layout {
  .left-sidebar {
    position: fixed;
  }
}

.left-sidebar {
  position: absolute;
  width: 230px;
  height: 100%;
  top: 0px;
  z-index: 20;
  padding-top: 50px;

  .user-pro {
    margin-top: 20px;
    a {
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .scroll-sidebar {
    height: calc(100% - 27px);
    position: relative;
    &.ps .ps__scrollbar-y-rail {
      left: 2px;
      right: auto;
      background: none;
      width: 6px;
      /* If using `left`, there shouldn't be a `right`. */
    }
  }

  .sidebar-nav {
    padding: 15px 0 0 0px;
    > ul {
      margin: 0px;
      padding: 0px;
      > li {
        margin-bottom: 8px;
        margin-top: 8px;
        list-style: none;
        &.active > a {
          font-weight: 500;
        }
        .sidebar-title {
          font-size: 1.25rem;
          display: flex;
          margin: 20px 15px;
          font-weight: 400;
          letter-spacing: 1px;
        }
        > a {
          display: flex;
          padding: 10px 15px 10px 15px;
          font-weight: 400;
          letter-spacing: 1px;
          svg {
            margin-right: 0.25rem;
            display: inline-block;
            vertical-align: middle;
          }
          &.active {
            font-weight: 500;
          }
          &.badge {
            float: right;
          }
          &.has-arrow {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 7px;
              height: 7px;
              border-width: 1px 0 0 1px;
              border-style: solid;
              right: 20px;
              -webkit-transform: rotate(135deg) translate(0, -50%);
              -ms-transform: rotate(135deg) translate(0, -50%);
              -o-transform: rotate(135deg) translate(0, -50%);
              transform: rotate(135deg) translate(0, -50%);
              -webkit-transform-origin: top;
              -ms-transform-origin: top;
              -o-transform-origin: top;
              transform-origin: top;
              top: 21px;
              -webkit-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
            }
          }
        }
        ul {
          padding-left: 0;
          &.collapse.in {
            display: block;
          }
          > li {
            > a {
              display: flex;
              align-items: center;
              font-size: 0.8rem;
              padding: 7px 25px 7px 25px;
              &.router-link-exact-active {
                border-left-width: 3px;
                border-left-style: solid;
              }
              svg {
                margin-right: 0.25rem;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
          ul {
            padding-left: 15px;
          }
        }
        &.nav-small-cap {
          font-size: 12px;
          margin: 0px;
          padding: 10px 15px 10px 0px;
          font-weight: 500;
        }
        &.nav-devider {
          height: 1px;
          display: block;
          margin: 15px 0;
        }
      }
    }
  }

  .sidebar-nav .active > .has-arrow::after,
  .sidebar-nav li > .has-arrow.active::after,
  .sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 42%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
  }
}
